{% extends 'base.html.twig' %}

{% block title %}MerciLesProfs !
{% endblock %}

{% block main %}
	
	{#-- Partie de gauche / haute --#}
	<div id="welcome-left" class="w-full bg-black pt-14 py-3 lg:w-1/2 lg:h-screen lg:flex lg:flex-col lg:justify-center lg:items-center">
	
		{% if app.user %}
			<h1 class="font-jedi green text-3xl md:text-5xl">Merci {{ app.user.firstname }}</h1>
		{% else %}
			<h1 class="font-jedi green text-3xl md:text-5xl">Merci les profs</h1>
		{% endif %}
		
		{% if app.user %}
			<p class="green py-8 md:text-base text-xs pb-8 md:pb-0"> Tu as assuré pendant les cours, alors les <span class="italic">Qui-Gon</span> se sont côtisés pour te faire un cadeau !</p>		
			<a href="#" class="link-card green py-8 md:text-base text-xs pb-8 md:pb-0 hover:underline btn">{ Voir mon bon cadeau }</a>
			<p>
				{% if app.user.giftcard %}

					<div class="gift-card green border-4 rounded-xl w-10/12 lg:w-2/3 lg:h-1/3 flex items-center mt-3 mx-auto invisible">
				
						<div class="w-1/3">
							<div class="border-1 rounded-full bg-green h-32 w-32 lg:h-48 lg:w-48 flex justitfy-center items-center mx-auto lg:mr-0">
								<img src="{{asset('build/images/yoda.svg')}}" class="lg:h-32 h-24 mx-auto"  alt="Maître Yoda">
							</div>	
						</div>
						
						<div class="w-2/3 flex flex-col h-full py-12 px-2">
							<h2 class="font-jedi text-3xl">
								Bon cadeau
							</h2>
							<p class="py-6 text-2xl">
								{{app.user.giftcardamount}}€
							</p>
							<p class="italic">
								Carte FNAC
							</p>
							<p>
								<a href="{{ app.user.giftcard }}" class="hover:underline btn">Récuperer ma carte cadeau</a>
							</p>
						</div>
					</div>

				{% else %}
						<p class="green">Pas de bon cadeau pour le moment...</p>
				{% endif %}
			</p>
		{% else %}
			<h2 class="text-white py-8 md:text-base text-xs pb-8 md:pb-0">De la part de tous les Qui-Gon</h2>
			<h3 class="text-white py-8 md:text-base text-xs pb-8 md:pb-0">Grâce à vous on a pu devenir de vrais jedis du code !</h3>
			<a href="{{ path('post_add')}}" class="btn text-green uppercase text-sm tracking-widest hover:underline text-sm pt-4">{ Ecrire un message }</a>		
		{% endif %}
		 <audio
        controls
        src="{{asset("build/audio/desbisous.mp3")}}">
            Your browser does not support the
            <code>audio</code> element.
    	</audio>
	</div>

	{#-- Partie de droite / basse --#}
	<div id="welcome-right" class="flex-grow lg:w-1/2 lg:h-screen lg:pt-14 lg:overflow-auto">

		<div id="posts" class="px-12 print:text-red-50">
			<div class="flex justify-end pt-3">
				<button class="print-btn h-8 py-1 px-3 mr-4 flex justify-center place-items-center bg-green text-white hover:bg-gray-200 hover:text-black rounded text-base btn ">Imprimer en PDF</button>
			</div>

			<h2 class="text-3xl font-jedi text-center py-8 ">Nos petits mots</h2>

			{% if posts is not empty %}

				{% for post in posts %}

					<div class="bg-gray-100 bg-opacity-20 rounded-xl mb-5 px-3 py-3 break-normal ">
						<p>
							{{post.content|raw}}
						</p>

						<p class="text-right">
							<span class="text-center text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-green bg-black uppercase mt-4">
								{{post.author}}
							</span>	
						</p>
					</div>

				{% endfor %}

			{% else %}

				<p>Pas de posts pour l'instant
				{% if app.user %}

					.

				{% else %}

					: <a href="{{ path('post_add') }}" class="hover:underline">créez en un</a>

				{% endif %}
				
					
				</p>

			{% endif %}

		</div>
		<div class="text-white flex justify-center mb-6">
			{{ knp_pagination_render(posts) }}
		</div>
	</div>

	
{% endblock %}


