{% extends 'base.html.twig' %}

{% block title %}MerciLesProfs !
{% endblock %}

{% block main %}
	
	{#-- Partie de gauche / haute --#}
	<div id="welcome-left" class="w-full bg-black pt-14 py-3 lg:w-1/2 lg:h-screen lg:flex lg:flex-col lg:justify-center lg:items-center">
		<h1 class="font-jedi green text-3xl md:text-5xl">Merci les profs</h1>
		<h2 class="text-white py-8 md:text-base text-xs pb-8 md:pb-0">Merci à tous les profs qui nous on permis de devenir de vrais jedis du code !</h2>
		<a href="{{ path('post_add')}}" class="btn text-green uppercase text-sm tracking-widest hover:underline text-sm pt-4">{ Ecrire un message }</a>
	</div>

	{#-- Partie de droite / basse --#}
	<div id="welcome-right" class="flex-grow lg:w-1/2 lg:h-screen lg:pt-14 lg:overflow-auto">

		<div id="posts" class="px-12 ">

			<h2 class="text-3xl font-jedi text-center py-8 ">Nos petits mots</h2>

			{% if posts is not empty %}

				{% for post in posts %}

					<div class="bg-gray-100 bg-opacity-20 rounded-xl mb-5 px-3 py-3 ">
						<p>
							{{post.content}}
						</p>

						<p class="text-right">
							<span class="text-center text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-green bg-black uppercase mt-4 ">
								{{post.author}}
							</span>	
						</p>
					</div>

				{% endfor %}

			{% else %}

				<p>Pas de posts pour l'instant,
					<a href="{{ path('post_add') }}">Créez en un</a>
				</p>

			{% endif %}

		</div>
		<div class="text-white flex justify-center">
			{{ knp_pagination_render(posts) }}
		</div>
	</div>

	
{% endblock %}
