{% extends 'base.html.twig' %}

{% block title %}Ajouter un message{% endblock %}

{% block main %}

    <h2>Envoyer un message</h2>

    {{ form_start(form)}}

        {{ form_label(form.author) }}
        {{ form_widget(form.author) }}

        {{ form_label(form.receiver) }}
        {{ form_widget(form.receiver) }}

        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}

        {{ form_widget(form.submit)}}

    {{ form_end(form)}}

{% endblock %}
