<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{% block title %}MerciLesProfs !{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

            {# Font Days One #}
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
        {% endblock %}

    </head>
    <body>
        {% block body %}

          <div class="min-h-screen">

            <header class="fixed w-screen h-14 text-center flex justify-between place-items-center bg-gray-900 body-font text-gray-600">

            <div class="ml-4">
              <a href="{{path('main_home')}}" class="flex flex-row justify-center items-center">
             
                <img src="{{asset('build/images/dark.svg')}}" alt="Icone DarkVador" class="w-10">

                <span class="text-green ml-2 hover:underline">Retour du Jedi</span>
                <span class="text-xs italic text-gray-500 ml-2 hidden md:inline">{ Retour à l'accueil pour les newbies }</span>
              </a>           
            </div>

              {% if app.user %}
              
                <a class="h-8 py-1 px-3 mr-4 flex justify-center place-items-center bg-green text-white hover:bg-gray-200 hover:text-black rounded text-base btn " href="{{ path('app_logout') }}">Déconnexion</a>  

              {% else %}
                
                {% if app.request.get('_route') != 'app_login' %}
                
                  <a class="h-8 py-1 px-3 mr-4 flex justify-center place-items-center bg-green text-white hover:bg-gray-200 hover:text-black rounded text-base btn " href="{{ path('app_login') }}">Connexion</a>
                
                {% endif %}
              
              {% endif %}
            
            </header>  
            <main class="h-screen flex flex-col lg:flex-row">
              {% block main %}
              {% endblock %}
            </main>

          </div>

        {% endblock %}

        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
